iWorkFileInspector/Build/*
iWorkFileInspector/DerivedData/*
iWorkFileInspector/iWorkFileInspector/iWorkFileInspector.xcodeproj/project.xcworkspace/xcuserdata/kevin.xcuserdatad/UserInterfaceState.xcuserstate

